.Map {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #0b6e21;
  padding: 0;
  margin: 0;
}

.MapRow {
  padding: 0;
  margin-bottom: 0;
  vertical-align: top;
  display: inline-block;

}

.MapCell {
  padding: 0;
  vertical-align: top;
}

.Map img {
  height: 50px;
  width: 50px;
  display: block;
}